[submodule "breach"]
	path = breach
	url = https://github.com/JohanEddelanda/breach.git
[submodule "specTransformer"]
	path = specTransformer
	url = https://github.com/JohanEddeland/specTransformer.git
